# dependencies
/node_modules

# build output (you’re using build/, but ignore both just in case)
 /dist
 /build

# environment variables
.env
.env.local
.env.*
!.env.example

# vercel
.vercel

# system files
.DS_Store
Thumbs.db

# editor / IDE
.vscode/
.idea/
*.swp

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
